*.o
*.gem
*.dSym
*.log
*.bundle
*.dylib
*.jar
tmp
save
ext/dep_gecode/Makefile
*.dsc
*.deb
*.gz
*.changes
*.build
pkg/*
Gemfile.lock
*.so
*.def
ext/libgecode3/vendor/gecode-3.7.3/Makefile
ext/libgecode3/vendor/gecode-3.7.3/config.status
ext/libgecode3/vendor/gecode-3.7.3/doxygen.conf
ext/libgecode3/vendor/gecode-3.7.3/doxygen.hh
ext/libgecode3/vendor/gecode-3.7.3/gecode/support/config.hpp
ext/libgecode3/vendor/gecode-3.7.3/tools/flatzinc/mzn-gecode
lib/dep-selector-libgecode/vendored-gecode/*
